<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiffinbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiffinBox">
        <activity
            android:name=".activity_settings"
            android:exported="false" />
        <activity
            android:name=".OrderDetailChefActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AutoAddress"
            android:exported="false" />
        <activity
            android:name=".DishesActivity"
            android:exported="false" />
        <activity
            android:name=".OrderFoodActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayFoodActivity"
            android:exported="true" />
        <activity
            android:name=".PostdishActivity"
            android:exported="false" />
        <activity
            android:name=".ChefmainActivity"
            android:exported="false" />
        <activity
            android:name=".EditprofileUserActivity"
            android:exported="false" />
        <activity
            android:name=".EditprofileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UserhomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".verifyOtp"
            android:exported="true" />
        <activity
            android:name=".SignupUserActivity"
            android:exported="true" />
        <activity
            android:name=".SignupChefActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>